* {
    border: none;
    border-radius: 0;
    font-family: Unifont, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 20px;
}

window#waybar {
    background: rgba(0, 0, 9, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    color: white;
}

#workspaces button {
    padding: 0 0px;
    background: transparent;
    color: white;
    border-bottom: 0px solid transparent;
}

#workspaces button.focused {
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 3px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 2px solid white;
}

#clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
    padding: 0 0px;
    margin: 0 7px;
}

#clock {
    background-color: rgba(0, 0, 0, 0);
}

#pulseaudio {
    background: rgba(0, 0, 0, 0);
    color: white;
}

#pulseaudio.muted {
    background: rgba(0, 0, 0, 0);
    color: white;
    margin-left: 10px;
}

#custom-spotify {
    background: rgba(0, 0, 0, 0);
    color: white;
}
