URxvt.font:         xft:Inconsolata:pixelsize=12
URxvt*scrollBar: false
URxvt.saveLines: 32767
URxvt*termName: rxvt
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.iso14755: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.Control-Escape: perl:keyboard-select:activate

!-------------------------------------------------------------------------------
! Colors

! special
*.foreground:   #a5a2a2
!*.background:   #090300
*.background:   #020202
*.cursorColor:  #a5a2a2

! black
*.color0:       #090300
*.color8:       #5c5855

! red
*.color1:       #db2d20
*.color9:       #db2d20

! green
*.color2:       #01a252
*.color10:      #01a252

! yellow
*.color3:       #fded02
*.color11:      #fded02

! blue
*.color4:       #01a0e4
*.color12:      #01a0e4

! magenta
*.color5:       #a16a94
*.color13:      #a16a94

! cyan
*.color6:       #b5e4f4
*.color14:      #b5e4f4

! white
*.color7:       #a5a2a2
*.color15:      #f7f7f7


! ------------------------------------------------------------------------------
! ! ROFI Color theme
! ! ------------------------------------------------------------------------------
! ! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #1B2B34
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
rofi.color-window:                   argb:ee222222,  #FAC863 ,  #FAC863
! Separator style (none, dash, solid)
rofi.separator-style:                solid
rofi.font: Hack 10

Xcursor.size:  8
