extends c

## STL Collections
# std::array
snippet test_platform_ifdef
#ifdef TEST_PLATFORM
${1}
#endif
endsnippet

snippet gtest_main
int main(int argc, char* argv[]) {
    ::testing::InitGoogleTest(&argc, argv);
    return RUN_ALL_TESTS();
}
$0
endsnippet

snippet tfun
template<typename ${1:T}>
$2 $3($4) {
/* ... */
}
$0
endsnippet

snippet pretty_this_function
printf("[%s] \r\n", __PRETTY_FUNCTION__);
endsnippet
