#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/bata/dotfiles/bin/android-studio.sh
Name=Android Studio
Comment=Android development powered by IntelliJ from Jetbrains
Icon=/home/bata/external/projects/android/android-studio/bin/studio.png
Categories=Application;Development;
